<a href="https://colab.research.google.com/github/jpdeleon/chronos/blob/master/notebooks/examples-target.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# examples using chronos

In [1]:
#!pip install git+https://github.com/jpdeleon/chronos.git@master

In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as pl
import matplotlib
matplotlib.rcParams['font.size'] = 12

import chronos as cr

Created TAP+ (v1.2.1) - Connection:
	Host: gea.esac.esa.int
	Use HTTPS: True
	Port: 443
	SSL Port: 443
Created TAP+ (v1.2.1) - Connection:
	Host: geadata.esac.esa.int
	Use HTTPS: True
	Port: 443
	SSL Port: 443

## search target coordinates

In [3]:
#search by toiid
t = cr.Target(toiid=200)
t.target_coord #note distance is also known for TOIs

Target: TOI 200

<SkyCoord (ICRS): (ra, dec, distance) in (deg, deg, pc)
    (354.91545833, -69.19604167, 44.0622)>

In [4]:
#ticid is automatically known
t.ticid

410214986

In [5]:
#search by ticid
t = cr.Target(ticid=410214986)
t.target_coord

TIC 410214986 is TOI 200!
Target: TIC 410214986

<SkyCoord (ICRS): (ra, dec, distance) in (deg, deg, pc)
    (354.91545833, -69.19604167, 44.0622)>

In [6]:
#toiid is retrieved if known TOI
t.toiid

200.01

In [7]:
#search by gaia id (recommended)
t = cr.Target(gaiaDR2id=5251470948229949568)
t.target_coord

Target: Gaia DR2 5251470948229949568

<SkyCoord (ICRS): (ra, dec) in deg
    (157.03746078, -64.50525936)>

In [8]:
#search by ra and dec
t = cr.Target(ra_deg=157.03729167, dec_deg=-64.50521111)
t.target_coord

Target: (157.037, -64.505)

<SkyCoord (ICRS): (ra, dec) in deg
    (157.03729167, -64.50521111)>

In [9]:
#search by name
t = cr.Target(name='Pi Mensae')
t.target_coord

Target: Pi Mensae

<SkyCoord (ICRS): (ra, dec) in deg
    (84.291188, -80.46911982)>

In [10]:
#name accepts EPIC
t = cr.Target(name='EPIC 201270176')
t.target_coord

Target: EPIC 201270176

<SkyCoord (ICRS): (ra, dec) in deg
    (170.13258917, -2.90258786)>

#name accepts K2
t = cr.Target(name='K2-33')
t.target_coord

## search Gaia DR2 catalog

In [11]:
t = cr.Target(gaiaDR2id=5251470948229949568)
t.query_gaia_dr2_catalog(radius=5)

Target: Gaia DR2 5251470948229949568
Querying Gaia DR2 catalog for ra,dec=(157.037 -64.5053) within 5.00 arcsec.

,solution_id,designation,source_id,random_index,ref_epoch,ra,ra_error,dec,dec_error,parallax,...,e_bp_min_rp_percentile_lower,e_bp_min_rp_percentile_upper,flame_flags,radius_val,radius_percentile_lower,radius_percentile_upper,lum_val,lum_percentile_lower,lum_percentile_upper,separation
0,1635721458409799680,Gaia DR2 5251470948229949568,5251470948229949568,1500767781,2015.5,157.037281,0.020725,-64.505211,0.020265,6.989271,...,0.0065,0.1059,200111,1.049562,1.023889,1.089327,1.098632,1.092309,1.104955,0.329695
1,1635721458409799680,Gaia DR2 5251470948222139904,5251470948222139904,169326472,2015.5,157.035819,0.078785,-64.505082,0.108097,6.678713,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.622717
2,1635721458409799680,Gaia DR2 5251470948229949184,5251470948229949184,50362545,2015.5,157.039253,0.484003,-64.506375,0.590284,0.218503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.882507

In [12]:
#return nearest position match
t.query_gaia_dr2_catalog(return_nearest_xmatch=True)

Querying Gaia DR2 catalog for ra,dec=(157.037 -64.5053) within 30.00 arcsec.
There are 29 gaia sources within 30.0 arcsec.
High proper-motion star:
(pmra,pmdec)=(-18.02,11.31) mas/yr
Found 1 references in Vizier with `ruwe`.

solution_id                         1635721458409799680
designation                Gaia DR2 5251470948229949568
source_id                           5251470948229949568
random_index                                 1500767781
ref_epoch                                        2015.5
                                       ...
radius_percentile_upper                        1.089327
lum_val                                        1.098632
lum_percentile_lower                           1.092309
lum_percentile_upper                           1.104955
separation                                     0.329695
Name: 0, Length: 95, dtype: object

In [13]:
#this is saved in gaia_params property
t.gaia_params

solution_id                         1635721458409799680
designation                Gaia DR2 5251470948229949568
source_id                           5251470948229949568
random_index                                 1500767781
ref_epoch                                        2015.5
                                       ...
radius_percentile_upper                        1.089327
lum_val                                        1.098632
lum_percentile_lower                           1.092309
lum_percentile_upper                           1.104955
separation                                     0.329695
Name: 0, Length: 95, dtype: object

In [14]:
#properties can be easily accessible
t.gaia_params.phot_g_mean_mag

10.3559618

## search TIC catalog

In [15]:
t = cr.Target(gaiaDR2id=5251470948229949568)
t.query_tic_catalog(radius=21) #21"~1 TESS pixel

Target: Gaia DR2 5251470948229949568
Querying TIC catalog for ra,dec=(157.037 -64.5053) within 21.0 arcsec.

,ID,ra,dec,pmRA,pmDEC,Tmag,objType,typeSrc,version,HIP,...,splists,e_RA,e_Dec,RA_orig,Dec_orig,e_RA_orig,e_Dec_orig,raddflag,wdflag,dstArcSec
0,460205581,157.037461,-64.505259,-18.016500,11.306800,9.9322,STAR,tmgaia2,20190415,NaN,...,NaN,0.720185,0.578579,157.037281,-64.505211,0.020725,0.020265,1.0,0,0.000015
1,847769574,157.035998,-64.505139,-17.882300,13.026400,14.6304,STAR,gaia2,20190415,NaN,...,NaN,2.613303,2.767018,157.035819,-64.505082,0.078785,0.108097,NaN,0,2.308390
2,847769581,157.039280,-64.506381,-2.726400,1.312890,18.8111,STAR,gaia2,20190415,NaN,...,NaN,31.062549,26.177476,157.039253,-64.506375,0.484003,0.590284,NaN,0,4.923334
3,460205587,157.037153,-64.503754,-3.454460,2.432940,13.0687,STAR,tmgaia2,20190415,NaN,...,NaN,0.670007,0.480852,157.037118,-64.503743,0.019827,0.016880,0.0,0,5.442008
4,847769585,157.040234,-64.501723,7.146910,-10.465400,18.1557,STAR,gaia2,20190415,NaN,...,NaN,8.536804,6.479910,157.040305,-64.501768,0.210487,0.219392,1.0,0,13.437058
5,847769627,157.027619,-64.505263,-5.613080,4.541820,16.7610,STAR,gaia2,20190415,NaN,...,NaN,3.069764,2.419117,157.027563,-64.505243,0.084123,0.085744,1.0,0,15.249509
6,847769572,157.038972,-64.509546,-5.395230,2.896580,18.1274,STAR,gaia2,20190415,NaN,...,NaN,6.982370,5.506957,157.038918,-64.509533,0.184442,0.197915,1.0,0,15.608325
7,847769580,157.031846,-64.509027,NaN,NaN,20.5406,STAR,gaia2,20190415,NaN,...,NaN,2.200630,8.070872,157.031846,-64.509027,2.200630,8.070872,NaN,0,16.114219
8,847769602,157.047932,-64.506415,-7.855330,3.731110,17.9435,STAR,gaia2,20190415,NaN,...,NaN,6.736638,5.541250,157.047853,-64.506398,0.167094,0.181577,1.0,0,16.749075
9,847769573,157.044491,-64.508843,-3.782770,2.730920,19.0237,STAR,gaia2,20190415,NaN,...,NaN,10.892670,8.154198,157.044453,-64.508831,0.283480,0.290217,1.0,0,16.883263
10,847769623,157.027448,-64.507798,-3.769030,3.307390,19.3759,STAR,gaia2,20190415,NaN,...,NaN,19.993833,19.536125,157.027410,-64.507783,0.403536,0.569229,1.0,0,18.005509
11,847769569,157.030311,-64.509324,-6.299780,3.972830,18.7875,STAR,gaia2,20190415,NaN,...,NaN,10.434826,8.067183,157.030248,-64.509307,0.267257,0.283474,1.0,0,18.352822
12,847769586,157.049478,-64.505054,-0.684344,1.491410,18.1820,STAR,gaia2,20190415,NaN,...,NaN,7.765447,5.796702,157.049471,-64.505048,0.190927,0.200065,1.0,0,18.635636
13,847769587,157.043985,-64.500893,-8.612700,1.971230,17.8043,STAR,gaia2,20190415,NaN,...,NaN,5.187459,4.311195,157.043899,-64.500885,0.137229,0.146045,1.0,0,18.689226
14,847769614,157.027462,-64.508623,-5.199310,3.087170,19.2272,STAR,gaia2,20190415,NaN,...,NaN,12.552915,9.822076,157.027410,-64.508609,0.311658,0.349089,1.0,0,19.662573
15,847769622,157.027815,-64.501616,-4.409610,-0.346238,19.5806,STAR,gaia2,20190415,NaN,...,NaN,21.402899,21.070349,157.027771,-64.501618,0.438487,0.655200,1.0,0,19.885999
16,847769617,157.024607,-64.505875,-9.609810,16.215300,19.2100,STAR,gaia2,20190415,NaN,...,NaN,20.144653,16.653391,157.024511,-64.505805,0.470700,0.529068,1.0,0,20.039801
17,847769618,157.024089,-64.505192,-4.307570,2.608490,19.4684,STAR,gaia2,20190415,NaN,...,NaN,19.860909,16.575897,157.024046,-64.505181,0.484716,0.565601,1.0,0,20.721126

In [16]:
#return nearest position match
t.query_tic_catalog(return_nearest_xmatch=True)

Querying TIC catalog for ra,dec=(157.037 -64.5053) within 30.0 arcsec.
There are 29 TIC stars within 30.0 arcsec

ID             460205581
ra            157.037461
dec           -64.505259
pmRA            -18.0165
pmDEC            11.3068
                 ...
e_RA_orig       0.020725
e_Dec_orig      0.020265
raddflag             1.0
wdflag                 0
dstArcSec       0.000015
Name: 0, Length: 125, dtype: object

In [17]:
#properties can be easily accessible
t.tic_params.Tmag

9.9322

## validate catalog cross-match

In [18]:
t = cr.Target(gaiaDR2id=5251470948229949568)
#query nearest position match in gaia and tic catalogs
gaia_params = t.query_gaia_dr2_catalog(return_nearest_xmatch=True)
tic_params = t.query_tic_catalog(return_nearest_xmatch=True)

Target: Gaia DR2 5251470948229949568
Querying Gaia DR2 catalog for ra,dec=(157.037 -64.5053) within 30.00 arcsec.
There are 29 gaia sources within 30.0 arcsec.
High proper-motion star:
(pmra,pmdec)=(-18.02,11.31) mas/yr
Found 1 references in Vizier with `ruwe`.
Querying TIC catalog for ra,dec=(157.037 -64.5053) within 30.0 arcsec.
There are 29 TIC stars within 30.0 arcsec

In [19]:
#validate by comparing stellar properties e.g. magnitude, parallax, etc
t.validate_gaia_tic_xmatch()

Gaia and TIC catalog cross-match succeeded.

True

## check HARPS RV bank

In [20]:
#useful to get RV measurements
t = cr.Target(toiid=200)
df = t.query_harps_rv()
df

Target: TOI 200
Loaded: /home/jp/github/research/project/chronos/chronos/data/HARPS_RVBank_table.csv

There are 1 matches: ['HD222259']
                                                 1786
G [mag]                                           NaN
Dist [pc]                                        46.2
Data products (ascii)  HD222259_harps_all-data_v1.dat
Data products (csv)    HD222259_harps_all-data_v1.csv


Loaded:  /home/jp/github/research/project/chronos/chronos/data/HD222259_harps_all-data_v1.csv
harps bank data validated.

,target,BJD,RV_mlc_nzp,e_RV_mlc_nzp,RV_drs_nzp,e_RV_drs_nzp,RV_mlc,e_RV_mlc,RV_drs,e_RV_drs,...,E_MLCRX,TIMEID,DRIFT_LAMP,MASK,PROGID,PROGPI,AIRMASS,OBHAB,THAR_FP,DPR_TYPE
0,HD222259,2.453501e+06,-146.372,2.112,7725.027,2.007,-370.750386,1.923124,7724.813472,1.739006,...,26.232481,2005-05-10T08:58:46.815,-9999999,G2,075.C-0202(A),UNKNOWN,-9999999,HARPS_ech_obs_all,HARPS_ech_obs_thosimult,"STAR,WAVE,NONE"
1,HD222259,2.453522e+06,-127.415,1.955,7802.250,1.955,-352.806269,1.749236,7801.378607,1.678025,...,24.208744,2005-05-31T07:47:48.855,-9999999,G2,075.C-0202(A),UNKNOWN,-9999999,HARPS_ech_obs_all,HARPS_ech_obs_thosimult,"STAR,WAVE,NONE"
2,HD222259,2.453523e+06,227.188,1.569,8147.925,1.751,2.003905,1.303381,8147.083567,1.435614,...,30.429690,2005-06-01T09:14:08.158,-9999999,G2,075.C-0202(A),UNKNOWN,-9999999,HARPS_ech_obs_all,HARPS_ech_obs_thosimult,"STAR,WAVE,NONE"
3,HD222259,2.453542e+06,-40.017,1.858,7902.403,1.893,-264.726644,1.639734,7901.824530,1.605975,...,25.260246,2005-06-20T10:09:42.142,-9999999,G2,075.C-0202(A),UNKNOWN,-9999999,HARPS_ech_obs_all,HARPS_ech_obs_thosimult,"STAR,WAVE,NONE"
4,HD222259,2.453601e+06,-206.933,3.766,7674.282,3.090,-432.499234,3.662833,7673.819894,2.922560,...,37.070397,2005-08-18T04:47:24.680,-9999999,G2,075.C-0202(A),UNKNOWN,-9999999,HARPS_ech_obs_all,HARPS_ech_obs_thosimult,"STAR,WAVE,NONE"

## query ESO database

In [22]:
#useful to get spectra
t = cr.Target(ticid=410214986)
df = t.query_eso()

TIC 410214986 is TOI 200!
Target: TIC 410214986
Searching ESO: (354.915 -69.196) with diameter=3.0 arcsec.
Available data:
Instrument Nspectra
ESPRESSO   3
HARPS      13

Found 16 ['HARPS' 'ESPRESSO'] spectra with SNR>1.

There are 3 matches:
DSTuc     : ra,dec=(354.914 -69.1956)
DS Tuc    : ra,dec=(354.915 -69.1958)
HD222259  : ra,dec=(354.915 -69.1958)

## spectra from tfop

In [23]:
t = cr.Target(ticid=410214986)
df = t.query_specs_from_tfop()
df.head()

TIC 410214986 is TOI 200!
Target: TIC 410214986
Loaded: /home/jp/github/research/project/chronos/chronos/data/tfop_sg2_spec_table.csv
There are 58 spectra in https://exofop.ipac.caltech.edu/tess/target.php?id=410214986

,TIC ID,TIC,TOI,Telescope,Instrument,Spectral resolution,Wavelength coverage,SNR/resolution,SNR wavelength,Appropriate to PRV,Obs date,User,Group,Tag,Notes
13552,410214986,NaN,TOI 200,SMARTS (1.5 m),CHIRON,80000,4500 to 8900 Angstroms,84.6,5150 Angstroms,No,2019-08-11 02-57-19,zhou,tfopwg,7264,NaN
13553,410214986,NaN,TOI 200,SMARTS (1.5 m),CHIRON,80000,4500 to 8900 Angstroms,96.6,5150 Angstroms,No,2019-08-11 03-07-36,zhou,tfopwg,7264,NaN
13554,410214986,NaN,TOI 200,SMARTS (1.5 m),CHIRON,80000,4500 to 8900 Angstroms,85.7,5150 Angstroms,No,2019-08-11 03-17-54,zhou,tfopwg,7264,NaN
13555,410214986,NaN,TOI 200,SMARTS (1.5 m),CHIRON,80000,4500 to 8900 Angstroms,118.3,5150 Angstroms,No,2019-08-11 03-28-16,zhou,tfopwg,7264,NaN
13556,410214986,NaN,TOI 200,SMARTS (1.5 m),CHIRON,80000,4500 to 8900 Angstroms,128.0,5150 Angstroms,No,2019-08-11 03-38-34,zhou,tfopwg,7264,NaN

## query MAST

In [24]:
#useful to get data from other space telescope e.g. Spitzer, Galex if any
t = cr.Target(ticid=410214986)
df = t.query_mast()
df.head()

TIC 410214986 is TOI 200!
Target: TIC 410214986
Searching MAST for (354.915 -69.196) with radius=3.0 arcsec.
Available data: ['TESS/TESS', 'SPITZER_SHA/MIPS24', 'SPITZER_SHA/MIPS70', 'SPITZER_SHA/IRAC2', 'SPITZER_SHA/IRAC1', 'HST/MIRVIS', 'HST/G430L', 'HST/G140M', 'HLSP/TESS', 'GALEX/NUV', 'GALEX/FUV'] in ['Optical', 'Infrared', 'UV']

,intentType,obs_collection,provenance_name,instrument_name,project,filters,wavelength_region,target_name,target_classification,obs_id,...,proposal_type,sequence_number,s_region,jpegURL,dataURL,dataRights,mtFlag,srcDen,obsid,distance
0,science,TESS,SPOC,Photometer,TESS,TESS,Optical,TESS FFI,NaN,tess-s0001-3-2,...,NaN,1.0,POLYGON 352.502469 -64.911527 19.128339 -72.00...,NaN,NaN,PUBLIC,False,NaN,60865627,0.0
1,science,TESS,SPOC,Photometer,TESS,TESS,Optical,TESS FFI,NaN,tess-s0027-3-1,...,NaN,27.0,POLYGON 349.73539200 -63.93457000 16.51913500 ...,NaN,NaN,PUBLIC,False,NaN,27797247,0.0
2,science,TESS,SPOC,Photometer,TESS,TESS,Optical,TESS FFI,NaN,tess-s0028-3-2,...,NaN,28.0,POLYGON 357.13411500 -63.06987900 21.52787100 ...,NaN,NaN,PUBLIC,False,NaN,27844467,0.0
3,science,TESS,SPOC,Photometer,TESS,TESS,Optical,410214986,NaN,tess2018206045859-s0001-0000000410214986-0120-s,...,NaN,1.0,CIRCLE 354.914504 -69.1957526 0.00138889,NaN,mast:TESS/product/tess2018206045859-s0001-0000...,PUBLIC,False,NaN,60840689,0.0
4,science,TESS,SPOC,Photometer,TESS,TESS,Optical,410214986,NaN,tess2020186164531-s0027-0000000410214986-0189-...,...,NaN,27.0,CIRCLE ICRS 354.91450400 -69.19575260 0.00138889,NaN,mast:TESS/product/tess2020186164531-s0027-0000...,PUBLIC,False,NaN,27797684,0.0

## query Simbad

In [25]:
#useful to get values from literature e.g. Vsini, 
t = cr.Target(ticid=410214986)
df = t.query_simbad()
df.head()

TIC 410214986 is TOI 200!
Target: TIC 410214986
Searching MAST for (<SkyCoord (ICRS): (ra, dec, distance) in (deg, deg, pc)
    (354.91545833, -69.19604167, 44.0622)>) with radius=3.0 arcsec.

,MAIN_ID,RA,DEC,COO_BIBCODE,TYPED_ID,OTYPE,SP_TYPE,SP_QUAL,SP_BIBCODE,ROT_upVsini,ROT_Vsini,ROT_err,ROT_mes,ROT_qual,ROT_bibcode,MK_ds,MK_mss,MK_Spectral_type,MK_bibcode
0,b'HD 222259A',23 39 39.4809,-69 11 44.709,b'2018yCat.1345....0G',b'',b'PM*',b'G6V',C,b'2006A&A...460..695T',,18.299999,0.3,0,C,2006A&A...460..695T,,,b'G6V',2006A&A...460..695T
1,b'HD 222259Ab',23 39 39.4809,-69 11 44.709,b'2018yCat.1345....0G',b'',b'Planet',b'',,b'',,NaN,NaN,0,,,,,b'',
2,b'HD 222259',23 39 39.4804,-69 11 44.705,b'2007A&A...474..653V',b'',b'RSCVn',b'G6V+K3Ve',C,b'2006A&A...460..695T',,NaN,NaN,0,,,,,b'G6V+K3Ve',2006A&A...460..695T

## query Vizier

In [26]:
#useful to get tables from literature
t = cr.Target(ticid=410214986, verbose=False)
tables = t.query_vizier()

In [27]:
#check the first table
tables[0]

<Table length=1>
   _r     RA2000     DE2000  Catalog Catalog_2        texto
 arcsec  "h:m:s"    "d:m:s"
float64  bytes10     bytes9   bytes7   bytes7        bytes255
------- ---------- --------- ------- --------- --------------------
    1.6 23 39 39.5 -69 11 45 Catalog   Catalog DS Tuc A = HD 222259

## search TESS

* check which TESS sector: https://heasarc.gsfc.nasa.gov/cgi-bin/tess/webtess/wtv.py or using [tess-point](https://github.com/christopherburke/tess-point)
* check schedule here: https://tess.mit.edu/observations/