In [2]:
import pandas as pd

df = pd.read_csv('../chronos/data/Feinstein2020_Prot_NYMG.txt')
df

            TIC    Teff  Flare_rate  Period_days
0        134947  3286.0    0.851026     1.321325
1        671393  3096.0    0.000000     0.437796
2       1223040  3172.0    0.251992     0.843112
3       1232360     0.0    0.000000     2.363182
4       1273249     0.0    0.000000     1.800985
...         ...     ...         ...          ...
1526  468330671     0.0    0.351719     2.206000
1527  469171560  4911.0    0.124019    10.725478
1528  609530751     0.0    0.000000     2.617656
1529  611620106  3985.0    0.514022     3.121375
1530  622285940     0.0    0.000000     2.775247

[1531 rows x 4 columns]

ls /home/jp/github/research/project/tql/tests/Binks2020/

In [3]:
mkdir /home/jp/github/research/project/tql/tests/Feinstein2020

In [5]:
df.TIC.to_csv('/home/jp/github/research/project/tql/tests/Feinstein2020/feinstein2020.txt',
              index=False
             )