https://ui.adsabs.harvard.edu/abs/2020AJ....160..219F/abstract

In [4]:
import chronos as cr

cr.cluster.PROT_CATALOG_DICT

Created TAP+ (v1.2.1) - Connection:
	Host: gea.esac.esa.int
	Use HTTPS: True
	Port: 443
	SSL Port: 443
Created TAP+ (v1.2.1) - Connection:
	Host: geadata.esac.esa.int
	Use HTTPS: True
	Port: 443
	SSL Port: 443

{'Barnes2015': 'J/A+A/583/A73',
 'Meibom2011_NGC6811': 'J/ApJ/733/L9',
 'Curtis2019_NGC6811': 'J/AJ/158/77',
 'Douglas2017_Praesepe': 'J/ApJ/842/83',
 'Rebull2016_Pleiades': 'J/AJ/152/114',
 'Rebull2018_USco_rhoOph': 'J/AJ/155/196',
 'Rebull2020_Taurus': 'J/AJ/159/273',
 'Reinhold2020_K2C0C18': 'J/A+A/635/A43',
 'Douglas2019_Praesepe': '2019ApJ...879..100D',
 'Fang2020_PleiadesPraesepeHyades': '2020MNRAS.495.2949F',
 'Gillen2020_BlancoI': '2020MNRAS.492.1008G'}

## Reinhold+2020

In [13]:
key = cr.cluster.PROT_CATALOG_DICT['Reinhold2020_K2C0C18']
tab = cr.get_vizier_tables(key, tab_index=0)
tab.columns

Downloading the first 50 rows of each table in J/A+A/635/A43 from vizier.

Index(['EPIC', 'Campaign', 'Teff', 'logg', 'Prot', 'e_Prot', 'HPeak', 'Rvar',
       'Kpmag', 'GMAG', '_RA', '_DE'],
      dtype='object')

## Curtis+2019

## Rebull+2016

In [7]:
key = cr.cluster.PROT_CATALOG_DICT['Rebull2016_Pleiades']
tab = cr.get_vizier_tables(key, tab_index=0)
tab.columns

Downloading the first 50 rows of each table in J/AJ/152/114 from vizier.

Index(['EPIC', 'RAJ2000', 'DEJ2000', 'Vmag', 'Ksmag', '__V-K_0', 'Prot', 'Mm',
       'P', 'dd', 'ddm', 'shch', 'beat', 'cpeak', 'resc', 'resd', 'dScu',
       'cloud', 'PapI', 'PapIII', 'Simbad'],
      dtype='object')

In [9]:
key = cr.cluster.PROT_CATALOG_DICT['Rebull2018_USco_rhoOph']
tab = cr.get_vizier_tables(key, tab_index=0)
tab.columns

Downloading the first 50 rows of each table in J/AJ/155/196 from vizier.

Index(['EPIC', 'RAJ2000', 'DEJ2000', 'Vmag', 'Ksmag', '__V-Ks_u', 'E_V-Ks_',
       'Ksmag0', 'Per1', 'Per2', 'Per3', 'Per4', 'Disk', 'Simbad'],
      dtype='object')

## Barnes+2015

In [12]:
key = cr.cluster.PROT_CATALOG_DICT["Barnes2015"]
tab = cr.get_vizier_tables(key, tab_index=0)
tab.columns

Downloading the first 50 rows of each table in J/A+A/583/A73 from vizier.

Index(['Id', 'Vmag', 'B-V', 'Per', 'e_Per', 'Amp', 'e_Amp', 'Memb', 'Prov',
       'Name'],
      dtype='object')

## Feinstein+2020

In [3]:
import pandas as pd

pd.read_csv('../chronos/data/feinstein2020.txt')

            TIC    Teff  Flare_rate  Period_days
0        134947  3286.0    0.851026     1.321325
1        671393  3096.0    0.000000     0.437796
2       1223040  3172.0    0.251992     0.843112
3       1232360     0.0    0.000000     2.363182
4       1273249     0.0    0.000000     1.800985
...         ...     ...         ...          ...
1526  468330671     0.0    0.351719     2.206000
1527  469171560  4911.0    0.124019    10.725478
1528  609530751     0.0    0.000000     2.617656
1529  611620106  3985.0    0.514022     3.121375
1530  622285940     0.0    0.000000     2.775247

[1531 rows x 4 columns]

## paper

!pip install tabula-py

import tabula

url = "https://arxiv.org/pdf/2005.07710.pdf"
df = tabula.read_pdf(url, pages=19)[0]
df

In [13]:
import pandas as pd

pd.read_csv('../chronos/data/Feinstein2020.csv')

,Population,Age [Myr],Count,Age Ref.
0,AB Doradus,149+51−19,283,Bell et al. (2015)
1,Argus,40-50,38,Zuckerman (2019)
2,β Pictoris,24±3,144,Bell et al. (2015)
3,Carina,45+11−7,78,Bell et al. (2015)
4,Carina-Near,∼200,57,Zuckerman et al. (2006)
5,Columba,42+6−4,129,Bell et al. (2015)
6,eta Chamaeleontis,3.7+4.6−1.4,14,Murphy et al. (2013)
7,η Chamaeleontis,11±3,3,Bell et al. (2015)
8,Hyades,750±100,61,Brandt & Huang (2015)
9,IC2391,50±5,7,Barrado y Navascues et al. (2004)
10,IC2602,46+6−5,22,Dobbie et al. (2010)
11,Lower Centaurus Crux,15±3,338,Pecaut & Mamajek (2016)
12,Octans,35±5,80,Murphy & Lawson (2015)
13,Platais 8,∼60,13,Platais et al. (1998)
14,Pleiades,112±5,11,Dahm (2015)
15,Taurus,1-2,11,Kenyon & Hartmann (1995)
16,Tucana-Horologium,45±5,182,Bell et al. (2015)
17,TW Hydrae,10±3,33,Bell et al. (2015)
18,Upper Centaurus Lupus,16±2,436,Pecaut & Mamajek (2016)
19,Upper CrA,10,6,Gagne et al. (2018)
20,Upper Scorpius,10±3,13,Pecaut & Mamajek (2016)
21,Ursa Major cluster,414±23,3,Jones et al. (2015)
22,χ For,∼500,9,Pohnl & Paunzen (2010)